<link rel="import" href="../../lib/polymer/polymer-element.html" async>

<dom-module id="bg-sports-button">
    <link rel="import" type="css" href="../../../css/main.min.css">
    <link rel="import" type="css" href="../../../css/odds-toggle-button/odds-toggle-button.min.css"> 
    <template>    
        <button on-tap="addBet" class="c-odds-toggle-button   c-event-market-card__button   " data-mdc-auto-init="MDCRipple" id="">
            <div class="c-odds-toggle-button__title"> {{outcome.OutcomeName}}</div> <div class="c-odds-toggle-button__odds">
                 [[_getPrice()]] 
                <div class="c-odds-toggle-button__icon">
                    <svg class="c-odds-toggle-button__icon-svg  c-odds-toggle-button__icon-up"> <use xlink:href="#ic-arrow-upward" / > </svg>
                    <svg class="c-odds-toggle-button__icon-svg  c-odds-toggle-button__icon-down"> <use xlink:href="#ic-arrow-downward" / > </svg>
                </div>
            </div>
        </button>          
    </template>
</dom-module>
<script type="text/javascript" src="bg-sports-button.js"></script>
