﻿<link rel="import" href="../../lib/polymer/polymer-element.html" async>
<link rel="import" href="../../lib/iron-ajax/iron-ajax.html">
<link rel="import" href="../../lib/paper-button/paper-button.html">
<link rel="import" href="../bg-sports-button/bg-sports-button.html">

<dom-module id="bg-sports-nextn">
    <link rel="import" type="css" href="../../../css/main-desktop.min.css">
    <link rel="import" type="css" href="../../../css/odds-toggle-button/odds-toggle-button.min.css">
    <template>
        <div class="card" hidden$="[[!toolsOpen]]" style="position:fixed;bottom:0;left:0;z-index:10;border-color:black;border-width:1pt;border-style:double;background-color:white;margin-left:10px">
            <button style="float:right" on-tap="toggleTools">&#128469;</button>
            <br />
            <div> <b>&nbsp;Price Updates</b>
                <br />&nbsp;Fire one-off signal in 3 seconds.<br /> <br />&nbsp;Arsenal &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <paper-button on-tap="priceUpAthleticBilbao" id="priceUpAthleticBilbao" raised style="width:70px"> 3.50 &#8593;</paper-button> <br />&nbsp;Watford &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <paper-button on-tap="priceDownWatford" id="priceDownWatford" raised style="width:70px"> 1.50 &#8595;</paper-button>
            </div> <br />
            <hr /> <br />
            <div> <b>&nbsp;Suspend Selections</b> <br/>&nbsp;Fire one-off signal in 3 seconds.<br/> <br/>&nbsp;Arsenal &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <paper-button on-tap="suspendAthleticBilbao" id="suspendAthleticBilbao" raised style="width:50px"> &#9208;</paper-button>
                <paper-button on-tap="unsuspendAthleticBilbao" id="unsuspendAthleticBilbao" raised style="width:50px"> &#9654;</paper-button> <br />&nbsp;Watford &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <paper-button on-tap="suspendWatford" id="suspendWatford" raised style="width:50px"> &#9208;</paper-button>
                <paper-button on-tap="unsuspendWatford" id="unsuspendWatford" raised style="width:50px">
                    &#9654;</paper-button>
            </div>
            <br />
        </div>
        <div class="card" hidden$="[[toolsOpen]]" style="position:fixed;bottom:0;left:0;z-index:10">
            <button style="float:right" on-tap="toggleTools">&#128470;</button>
        </div>
        <iron-ajax id="sportsAjax" url="set-in-code" content-type="application/json" method="GET" handle-as="json" on-response="onResponse"
            on-error="onError" debounce-duration="300"> </iron-ajax>

        <template id="list" is="dom-repeat" items="[[result.Sports]]" as="event" class="sportslist">
                <!-- <h4>[[event.EventName]]</h4>
                
            <div class="c-event-market-card  c-event-market-card--responsive">
                <a class="c-event-market-card__primary">
                       
                    <div class="c-event-market-card__competitors">
                        <template id="outcomeList" is="dom-repeat" items="[[event.Outcomes]]" as="outcome">
                            <div class="c-event-market-card__competitor-name">
                                [[outcome.OutcomeName]]
                            </div>
                        </template>
                    </div>
                    <div class="c-event-market-card__scores">
                        <div class="c-event-market-card__score-column">
                            <span>3</span>
                            <span>1</span>
                        </div>
                    </div>
                    <div>
                        <div class="c-event-market-card__time">
                            <span class="c-event-market-card__caption">23' H1</span>
                        </div>
                        <div class="c-event-market-card__markets">

                            <svg class="c-event-market-card__media-icon">
                                <use xlink:href="#ic-live-tv" />
                            </svg>

                            <span class="c-event-market-card__caption">+76</span>
                        </div>
                    </div>
                </a>
                <section class="c-event-market-card__actions">
                    <template id="outcomeList" is="dom-repeat" items="[[event.Outcomes]]" as="outcome">
                        <bg-sports-button id="bet_btn_{{event.EventId}}_{{outcome.OutcomeId}}" event="[[event]]" outcome="[[outcome]]"></bg-sports-button>
                    </template>
                </section>
            </div> -->
            <div class="c-event-market-card  c-event-market-card--responsive">
                    <a class="c-event-market-card__primary" href="">

                        <div class="c-event-market-card__subhead">
                            <svg class="c-event-market-card__sport-icon  is-basketball">
                                <use xlink:href="#ic-basketball" />
                            </svg> [[event.EventName]]
                        </div>

                        <div class="c-event-market-card__horizontal-block">
                            <div class="c-event-market-card__competitors">

                                <template id="outcomeList" is="dom-repeat" items="[[event.Outcomes]]" as="outcome">
                                    <div class="c-event-market-card__competitor-name" title="[[outcome.OutcomeName]]">[[outcome.OutcomeName]]</div>
                                </template>
                            </div>
                        </div>
                    </a>
                    <section class="c-event-market-card__actions">
                        <template id="outcomeList" is="dom-repeat" items="[[event.Outcomes]]" as="outcome">
                            <bg-sports-button id="bet_btn_{{event.EventId}}_{{outcome.OutcomeId}}" event="[[event]]" outcome="[[outcome]]"></bg-sports-button>
                        </template>
                    </section>

                    <span class="mdc-icon-toggle  c-event-market-card__visualisation-toggle" role="button" aria-pressed="false" aria-label="Star this item"
                        tabindex="0" data-icon-inner-selector=".c-event-market-card__visualisation-icon" data-toggle-on='{"cssClass": "is-active", "label": "Unstar this item"}'
                        data-toggle-off='{"cssClass": "", "label": "Star this item"}'>
                        <svg class="c-icon-24px c-event-market-card__visualisation-icon" aria-hidden="true">
                            <use xlink:href="#ic-visualisation" />
                        </svg>
                    </span>
                </div>
        </template>

    </template>
</dom-module>
<script type="text/javascript" src="bg-sports-nextn.js">
</script>