@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
html, body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
html {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font: 12px Helvetica , Arial , sans-serif;
}
a {
  text-decoration: none;
}
.goog-button-focused {
  outline: none;
}
.hide, .hidden {
  display: none !important;
}
.invisible {
  visibility: hidden !important;
}
body {
  scrollbar-base-color: #c0c0c0;
  scrollbar-3dlight-color: #c0c0c0;
  scrollbar-highlight-color: #c0c0c0;
  scrollbar-track-color: #ebebeb;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #c0c0c0;
  scrollbar-dark-shadow-color: #c0c0c0;
}
.selection {
  position: relative;
  cursor: pointer;
}
.selection .name {
  text-align: center;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.selection .price {
  line-height: 12px;
  text-align: center;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.selection .wrap {
  text-align: center;
  box-sizing: border-box;
  border-radius: 2px;
  position: relative;
  -webkit-transition: border-color .5s linear;
  -moz-transition: border-color .5s linear;
  -ms-transition: border-color .5s linear;
  -o-transition: border-color .5s linear;
}
.selection .wrap:after {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: none;
}
.selection.selection-unavailable, .selection.selection-button-disabled {
  cursor: default;
}
.selection.selection-unavailable .wrap * {
  visibility: hidden !important;
}
.selection.increase .wrap:after {
  border-top: none;
}
.selection.decrease .wrap:after {
  top: auto;
  border-bottom: none;
}
.sportsbookNavigation {
  min-width: 200px;
}
.sportsbookNavigation .sportsbookNavigationWrapper {
  padding: 8px 4px;
  position: relative;
  z-index: 5;
}
.sportsbookNavigation .navControls {
  display: inline-block;
}
.sportsbookNavigation .navOptions {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  overflow: hidden;
  z-index: 0;
}
.sportsbookNavigation .navButton {
  border-radius: 4px;
  display: block;
  float: left;
  height: 30px;
  line-height: 32px;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  outline: none;
}
.sportsbookNavigation .cleared {
  clear: left;
}
.sportsbookNavigation .navButton {
  font-weight: bold;
}
.sportsbookNavigation .hide {
  display: none !important;
}
.sportsbookNavigation .topBar {
  height: 32px;
  overflow: hidden;
}
.sportsbookNavigation .topBar .navButton {
  margin: 0 4px 14px 0;
  padding: 0 10px;
  border: 1px solid transparent;
}
.sportsbookNavigation .topBar .navButton .arrow {
  display: inline-block;
  margin: 0 0 -2px 6px;
  border: 4px solid transparent;
}
.sportsbookNavigation .backButton {
  float: left;
}
.sportsbookNavigation .topBar .backButton .backArrow {
  position: relative;
  display: inline-block;
  margin-right: 12px;
}
.sportsbookNavigation .topBar .backButton .backArrow>span {
  position: absolute;
}
.sportsbookNavigation .topBar .backButton .arrowUp {
  width: 7px;
  height: 2px;
  margin-top: -7px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sportsbookNavigation .topBar .backButton .arrowDown {
  width: 7px;
  height: 2px;
  margin-top: 2px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -5px;
}
.sportsbookNavigation .topBar .moreButton {
  margin: 0 0 10px;
}
.sportsbookNavigation div.subNavigation {
  padding: 8px 4px 4px;
}
.sportsbookNavigation .subNavigation .navOptions {
  display: inline;
}
.sportsbookNavigation .subNavigation .navButton {
  margin: 0 4px 4px 0;
  padding: 0 12px;
}
.sportsbookNavigation .subNavigation .navButton-open {
  pointer-events: none;
  cursor: default;
}
.sportsbookNavigation .subNavigation .navFilter {
  position: relative;
}
.sportsbookNavigation .subNavigation .navFilter .selectedFilter {
  width: 160px;
  margin: 0;
  padding: 0 12px;
  font-weight: bold;
  z-index: 2;
}
.sportsbookNavigation .subNavigation .navFilter .filters {
  width: 176px;
  margin-top: 2px;
  padding: 2px 4px;
  border-radius: 4px;
  top: 29px;
  position: absolute;
  z-index: 1;
}
.sportsbookNavigation .subNavigation .navFilter .filter {
  display: block;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  margin: 2px 0;
}
.sportsbookNavigation .navFilter-arrows {
  position: absolute;
  top: 10px;
  right: 10px;
}
.sportsbookNavigation .navFilter-arrow {
  display: block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
}
.sportsbookNavigation .navFilter-arrow-top {
  margin-bottom: 2px;
  border-top: none;
  border-bottom-color: inherit;
}
.sportsbookNavigation .navFilter-arrow-bottom {
  border-bottom: none;
  border-top-color: inherit;
}
.sportsbookNavigation .navigation-dropdown-content {
  display: block;
  clear: both;
}
.sportsbookNavigation.typeTopNav .navigation-dropdown-content {
  height: 0;
}
.sportsbookNavigation.typeSubNav .navigation-dropdown-content {
  height: auto;
}
.sportsbookNavigation.typeSubNav .navigation-dropdown-content>li {
  width: 100%;
}
.sportsbookNavigation.typeSubNav .navControls {
  position: absolute;
  top: 8px;
  right: 4px;
  float: none;
}
.sportsbookNavigation .sport-content {
  overflow: hidden;
}
.sportsbookNavigation .sport-content .sport-description {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
  letter-spacing: .2px;
}
.sportsbookNavigation .topBarContent .sport-description {
  display: block;
  line-height: 24px;
  padding: 0 16px;
  font-size: 12px;
  height: auto;
}
.sportsbookNavigation .sport-content .sport-sub-categories {
  padding-bottom: 1px;
}
.sportsbookNavigation .sport-content .subcategory-description {
  display: block;
  padding: 0 16px;
  overflow: hidden;
}
.sportsbookNavigation .sport-content .sports-fixture-node {
  width: 100%;
  position: relative;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  outline: none;
}
.sportsbookNavigation .sport-content .scoreboardHolder {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 7px 0;
  box-sizing: border-box;
}
.sportsbookNavigation .placeholder {
  display: table-cell;
}
.sportsbookNavigation .placeholder .periodInfo {
  width: 54px;
  float: left;
  text-align: center;
  position: relative;
}
.sportsbookNavigation .placeholder .periodInfo .period {
  line-height: 12px;
}
.sportsbookNavigation .placeholder .periodInfo .time {
  line-height: 12px;
  margin-bottom: 2px;
}
.sportsbookNavigation .placeholder .periodInfo .clock {
  margin: 0;
}
.sportsbookNavigation .placeholder .competitors {
  display: block;
  overflow: hidden;
  height: 26px;
  padding-right: 7px;
}
.sportsbookNavigation .placeholder .firstCompetitor {
  margin-bottom: 2px;
}
.sportsbookNavigation .mediaPlaceholder {
  width: 104px;
}
.sportsbookNavigation .mediaPlaceholder .media {
  overflow: hidden;
  height: 26px;
}
.sportsbookNavigation .mediaPlaceholder .media>div {
  display: table-cell;
}
.sportsbookNavigation .cashOutPlaceholder {
  width: 18px;
  padding-right: 8px;
}
.sportsbookNavigation .cashOutLogo {
  width: 18px;
  height: 18px;
  position: absolute;
  background-size: 18px 18px;
  top: 12px;
}
.sportsbookNavigation .cashOutLogo.unavailable {
  display: none;
}
.sportsbookNavigation .selectionsHolder {
  position: absolute;
  height: 32px;
}
.sportsbookNavigation .hideTvLogo .selectionsHolder {
  right: 58px;
}
.sportsbookNavigation .selectionsHolder .selection {
  vertical-align: top;
  display: table-cell;
  outline: none;
}
.sportsbookNavigation .selectionsHolder .last .wrap {
  margin: 0;
}
.sportsbookNavigation .selectionsHolder .twoMarkets .selection {
  width: 49.4%;
}
.sportsbookNavigation .selectionsHolder .threeMarkets .selection {
  width: 32.5%;
}
.sportsbookNavigation .sports-fixture-node .noTopMarket {
  visibility: hidden;
}
.sportsbookNavigation .selectionsHolder .topMarketWrapper .selectionsWrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.sportsbookNavigation .selectionsHolder .topMarketWrapper .selectionsOnly .market-selections {
  display: block;
  outline: none;
}
.sportsbookNavigation .selectionsHolder .topMarketWrapper .selectionsOnly .market {
  outline: none;
}
.sportsbookNavigation .placeholder .tennisCompetitor {
  height: 12px;
  line-height: 12px;
}
.sportsbookNavigation .placeholder .tennisCompetitor .playerDetails {
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
.sportsbookNavigation .placeholder .tennisCompetitor .scoreboardItemHolder {
  float: right;
  text-align: center;
}
.sportsbookNavigation .placeholder .tennisCompetitor .setsWon {
  display: none;
}
.sportsbookNavigation .placeholder .tennisCompetitor .gameScore {
  display: inline-block;
}
.sportsbookNavigation .placeholder .tennisCompetitor .set {
  display: inline-block;
  width: 6px;
  padding-right: 8px;
}
.sportsbookNavigation .placeholder .tennisCompetitor .separator {
  padding: 0 2px;
}
.sportsbookNavigation .fixtureNotAvailable .mediaHolder {
  opacity: .25;
  -moz-opacity: .25;
  -khtml-opacity: .25;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
  filter: alpha(opacity=25);
  cursor: default;
}
.sportsbookNavigation .fixtureNotAvailable .has-audio {
  border: 1px solid transparent;
}
.sportsbookNavigation .singleColumnCompetitor {
  line-height: 28px;
}
.sportsbookNavigation .logo {
  border-radius: 4px;
  overflow: hidden;
  width: 86px;
  background: white no-repeat center;
  height: 24px;
  margin: 0 8px;
  position: absolute;
  top: 8px;
}
.sportsbookNavigation .has-audio {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 4px;
  opacity: .6;
  -moz-opacity: .6;
  -khtml-opacity: .6;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
}
.sportsbookNavigation .has-audio:hover {
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.sportsbookNavigation .has-audio-arrow {
  position: absolute;
  margin-left: 10px;
  margin-top: 7px;
  border: 5px solid transparent;
  border-left-width: 6px;
}
.sportsbookNavigation .has-audio-pause {
  position: absolute;
  margin-left: 7px;
  margin-top: 6px;
}
.sportsbookNavigation .has-audio-pause-left {
  position: absolute;
  width: 4px;
  height: 12px;
}
.sportsbookNavigation .has-audio-pause-right {
  position: absolute;
  width: 4px;
  height: 12px;
  margin-left: 6px;
}
.sportsbookNavigation .twoCompetitorsScoreboard .competitors .team {
  display: block;
  table-layout: auto;
}
@media (max-width:660px) {
  .sportsbookNavigation .scoreboardItemHolder {
    display: none;
  }
}
.sportsbookNavigation .halfTimeMode .periodInfo .time {
  display: none;
}
.sportsbookNavigation .selectionsHolder .selectionsOnly div.marketTemplate-out1 .selectionsWrapper {
  display: table-cell;
  width: 33%;
}
.sportsbookNavigation .selectionsHolder .selectionsOnly div.marketTemplate-out1 .market-selections {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.sportsbookNavigation .selectionsHolder .selectionsOnly div.marketTemplate-out1 .market-selections .selection {
  display: block;
  width: 100%;
}
.sportsbookNavigation .selectionsHolder .selectionsOnly div.marketTemplate-out1 .more-button {
  display: none;
}
.teams {
  display: table-cell;
  padding-right: 7px;
  vertical-align: middle;
}
.team {
  display: table;
  table-layout: fixed;
  width: 100%;
  line-height: 12px;
  height: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.team-name {
  display: table-cell;
  padding-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.team-set-scores {
  display: table-cell;
  width: 70px;
}
.team-set-scores-small {
  width: 42px;
}
.team-set-scores>span {
  display: inline-block;
  width: 6px;
  padding-right: 8px;
  text-align: center;
}
.team-score {
  display: table-cell;
  text-align: right;
}
.team-score-single-digit {
  width: 6px;
}
.team-score-double-digit {
  width: 12px;
}
.team-score-triple-digit {
  width: 18px;
}
.team-score-change {
  -webkit-animation-name: contestScoreChange;
  -moz-animation-name: contestScoreChange;
  animation-name: contestScoreChange;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-iteration-direction: normal;
  -moz-animation-iteration-direction: normal;
  animation-iteration-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-play-state: running;
  -moz-animation-iteration-play-state: running;
  animation-iteration-play-state: running;
}
.number-of-markets {
  display: table-cell;
  width: 29px;
  padding-left: 9px;
  vertical-align: middle;
  text-align: left;
}
.sportsbookNavigation .more-contests-button {
  display: block;
  width: 100%;
  height: 36px;
  margin-bottom: 1px;
  cursor: pointer;
}
.sportsbookNavigation .more-contests-button-inner {
  display: block;
  height: 32px;
  -moz-border-radius: 4 px;
  -webkit-border-radius: 4 px;
  -o-border-radius: 4 px;
  -ms-border-radius: 4 px;
  -khtml-border-radius: 4 px;
  border-radius: 4 px;
  text-align: center;
}
.sportsbookNavigation .more-contests-arrow {
  position: relative;
  top: 16px;
  left: 50%;
}
.sportsbookNavigation .more-contests-arrow-left {
  width: 8px;
  height: 2px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sportsbookNavigation .more-contests-arrow-right {
  width: 8px;
  height: 2px;
  margin-left: 5px;
  margin-top: -2px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sportsbookNavigation .bg-inplay-no-contests {
  height: 188px;
  text-align: center;
  position: relative;
}
.sportsbookNavigation .bg-inplay-no-contests .notice {
  line-height: 26px;
  margin-top: 123px;
  margin-bottom: 245px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 22px;
  font-weight: bold;
}
.sportsbookNavigation .bg-inplay-no-contests .come-back-later-message {
  position: absolute;
  left: 50%;
  top: 68px;
  display: flex;
  width: calc(100% - 32px);
  max-width: 386px;
  height: 60px;
  line-height: 16px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transform: translateX(-50%);
}
.sportsbookNavigation .bg-inplay-no-contests .come-back-later-message-arrow {
  position: absolute;
  bottom: -12px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid transparent;
}
.sportsbookNavigation .bg-inplay-no-contests .clock-container {
  height: 40px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.sportsbookNavigation .clock {
  position: relative;
  width: 10px;
  height: 10px;
  margin-left: -1px;
  margin-top: 14px;
  border: 1px solid transparent;
  border-radius: 6px;
  display: inline-block;
}
.sportsbookNavigation .clock .clock-hand-1 {
  position: absolute;
  width: 3px;
  height: 1px;
  left: 3px;
  top: 5px;
}
.sportsbookNavigation .clock .clock-hand-2 {
  position: absolute;
  width: 1px;
  height: 4px;
  left: 5px;
  top: 2px;
}
@media (max-width:640px) {
  .sportsbookNavigation .cashOutPlaceholder, .sportsbookNavigation .mediaPlaceholder {
    display: none;
  }
  .sportsbookNavigation .selectionsHolder {
    right: 38px;
  }
}
@media (max-width:460px) {
  .sportsbookNavigation .sport-content .scoreboardHolder {
    height: 77px;
  }
  .sportsbookNavigation .scoreboardPlaceholder {
    width: 100%;
  }
  .sportsbookNavigation .marketPlaceholder {
    display: none;
  }
  .number-of-markets {
    position: absolute;
    right: 0;
    top: 41px;
    width: 29px;
    line-height: 32px;
  }
  .sportsbookNavigation .selectionsHolder {
    top: 41px;
    width: calc(100% - 42px);
  }
}
.marketList .market-group-name {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}
.marketList .market-name {
  display: inline-block;
  font-weight: bold;
}
.marketList .market-cash-out {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
}
.marketList .cashOutLogo {
  width: 18px;
  height: 18px;
  position: absolute;
  background-size: 18px 18px;
}
.marketList .cashOutLogo.unavailable {
  display: none;
}
.marketList .market-info {
  display: block;
  margin-top: -4px;
  padding-left: 4px;
  padding-bottom: 7px;
  font-size: 10px;
}
.marketList .marketGroups {
  display: block;
  overflow: hidden;
  border: 4px solid transparent;
  border-left: none;
  border-right: none;
}
.marketList .marketColumn {
  width: 50%;
  float: left;
}
.marketList .secondColumn {
  float: right;
}
.marketList .marketGroupNames {
  outline: none;
}
.marketList .market-group {
  display: block;
}
.marketList .market {
  margin: 0 4px;
  outline: none;
  box-sizing: border-box;
}
.marketList .market-selections {
  width: 100%;
  position: relative;
  top: auto;
  right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  font-weight: bold;
}
.marketList .selectionsWrapper {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.marketList .selectionsWrapper .selection {
  display: table-cell;
  vertical-align: top;
  outline: none;
}
.marketList .market-selections-container {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
}
.marketList .more-button, .marketList .more-button:active, .marketList .more-button .more-wrapper, .marketList .more-button .more-wrapper:active {
  outline: none;
}
.marketList .more-button {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.marketList .more-button .more-wrapper {
  display: table-cell;
  font-size: 0;
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;
}
.marketList .more-button .more-wrapper:before {
  content: "";
  width: 2px;
  height: 8px;
  position: absolute;
  left: 50%;
}
.marketList .more-button .more-wrapper:after {
  content: "";
  width: 2px;
  height: 8px;
  position: absolute;
  left: 50%;
  transform: rotate(45deg);
  margin-right: 4px;
}
.marketList .more-button .more-wrapper:before {
  transform: rotate(-45deg);
  margin-left: -4px;
}
@media (max-width:641px) {
  .marketList .marketColumn {
    float: none;
    width: 100%;
  }
}
.marketList .no-markets {
  padding: 8px;
  font-size: 18px;
  text-align: center;
}
.marketList .no-markets .no-markets-line {
  display: block;
}
.marketList .no-markets .no-markets-first-line {
  padding-top: 72px;
  font-size: 22px;
  font-weight: bold;
}
.marketList .no-markets .no-markets-second-line {
  padding-top: 8px;
  padding-bottom: 72px;
}
.marketList .marketTemplate-m1x2 .selection:nth-child(2), .marketList .marketTemplate-cs3 .selection:nth-child(2) {
  width: 15%;
}
@media (max-width:440px) {
  .marketList .marketTemplate-m1x2 .selection:nth-child(2), .marketList .marketTemplate-cs3 .selection:nth-child(2) {
    width: 64px;
  }
}
@media (min-width:642px) and (max-width:910px) {
  .marketList .marketTemplate-m1x2 .selection:nth-child(2), .marketList .marketTemplate-cs3 .selection:nth-child(2) {
    width: 64px;
  }
}
.bg-generic-scoreboard-inner {
  height: 60px;
  text-align: center;
}
.bg-generic-scoreboard-inner .top-bar, .bg-generic-scoreboard-inner .team-names {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.bg-generic-scoreboard-inner .top-bar {
  padding-top: 1px;
  font-size: 10px;
  font-weight: bold;
}
.bg-generic-scoreboard-inner .competition-name, .bg-generic-scoreboard-inner .location, .bg-generic-scoreboard-inner .team-name {
  display: table-cell;
  width: 50%;
}
.bg-generic-scoreboard-inner .competition-name, .bg-generic-scoreboard-inner .away-team-name {
  text-align: left;
}
.bg-generic-scoreboard-inner .competition-name, .bg-generic-scoreboard-inner .location {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bg-generic-scoreboard-inner .competition-name {
  height: 24px;
  line-height: 22px;
  padding-left: 8px;
  padding-right: 16px;
  font-size: 10px;
  font-weight: bold;
}
.bg-generic-scoreboard-inner .round-name {
  padding-left: 6px;
}
.bg-generic-scoreboard-inner .time {
  display: table-cell;
  width: 60px;
  margin-left: 0;
  border: none;
}
.bg-generic-scoreboard-inner .location, .bg-generic-scoreboard-inner .home-team-name {
  text-align: right;
}
.bg-generic-scoreboard-inner .location {
  padding-right: 8px;
}
.bg-generic-scoreboard-inner .team-names {
  padding-top: 2px;
  font-size: 17px;
}
.bg-generic-scoreboard-inner .team-name {
  height: 19px;
  padding-right: 0;
}
.bg-generic-scoreboard-inner .event-name .team-name {
  width: 100%;
  text-align: center;
}
.bg-generic-scoreboard-inner .team-names-separator {
  display: table-cell;
  width: 36px;
  text-align: center;
}
.selection .wrap {
  height: 48px;
  padding: 0 8px;
  border: none;
  background-color: #ebebeb;
  color: rgba(0,0,0,0.54);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2) , 0 2px 2px 0 rgba(0,0,0,0.14) , 0 1px 5px 0 rgba(0,0,0,0.12);
  transition: background-color .5s;
}
.selection .name {
  line-height: 14px;
  padding-top: 9px;
  font-size: 12px;
  font-weight: normal;
}
.selection .price {
  padding-top: 3px;
  font-size: 14px;
  color: #50cd8e;
  transition: color .5s;
}
.selection.selection-unavailable, .selection.selection-button-disabled {
  opacity: .2;
}
.selection.selection-button-checked .wrap {
  background-color: #50cd8e;
}
.selection.selection-button-checked .price {
  color: black;
}
.selection.increase .wrap {
  border-color: #2ea61c;
}
.selection.increase .wrap .price {
  color: #2ea61c;
}
.selection.increase .wrap:after {
  right: 0;
  top: 0;
  border-width: 12px;
  border-right-color: #2ea61c;
}
.selection.decrease .wrap {
  border-color: #dc1b3d;
}
.selection.decrease .wrap .price {
  color: #dc1b3d;
}
.selection.decrease .wrap:after {
  right: 0;
  bottom: 0;
  border-width: 12px;
  border-right-color: #dc1b3d;
}
.sportsbookNavigationWrapper {
  display: none;
}
.sportsbookNavigation {
  margin-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #eee;
}
.sportsbookNavigation .navigation-dropdown-content {
  overflow: visible;
}
.sportsbookNavigation .sport-content .scoreboardHolder {
  height: 80px;
}
.sportsbookNavigation .sport-content .sport-description {
  height: 64px;
  line-height: 64px;
  font-size: 18px;
  color: rgba(0,0,0,0.54);
  border-bottom: 1px solid rgba(0,0,0,0.12);
}
.sportsbookNavigation .sport-content .subcategory-description {
  height: 48px;
  line-height: 48px;
  font-size: 15px;
  font-weight: normal;
  color: rgba(0,0,0,0.54);
}
.sportsbookNavigation .sport-content .sports-fixture-node {
  margin-bottom: 16px;
  background-color: white;
  color: black;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2) , 0 2px 2px 0 rgba(0,0,0,0.14) , 0 1px 5px 0 rgba(0,0,0,0.12);
}
.sportsbookNavigation .sport-content .sports-fixture-node .number-of-markets {
  position: absolute;
  right: calc(50% + 16px);
  top: 46px;
  font-size: 12px;
  font-weight: normal;
  text-align: right;
  color: rgba(0,0,0,0.54);
}
.sportsbookNavigation .sport-content .sports-fixture-node:last-child {
  margin-bottom: 0;
}
.sportsbookNavigation .sport-content .placeholder .periodInfo {
  position: absolute;
  right: calc(50% + 16px);
  top: 22px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: normal;
  text-align: right;
  color: rgba(0,0,0,0.54);
}
.sportsbookNavigation .sport-content .placeholder .periodInfo .clock {
  display: none;
}
.sportsbookNavigation .sport-content .placeholder .periodInfo .time {
  display: inline-block;
  color: rgba(0,0,0,0.87);
}
.sportsbookNavigation .sport-content .placeholder .periodInfo .period {
  display: inline-block;
  color: rgba(0,0,0,0.87);
  margin-left: 4px;
}
.sportsbookNavigation .sport-content .placeholder .competitors {
  height: 100%;
  padding-left: 16px;
  padding-right: 72px;
  padding-top: 13px;
  font-size: 14px;
  font-weight: normal;
}
.sportsbookNavigation .sport-content .placeholder .competitors .team {
  line-height: 16px;
}
.sportsbookNavigation .sport-content .placeholder .competitors .team.away-team {
  padding-top: 6px;
}
.sportsbookNavigation .sport-content .placeholder .competitors .team .team-score-single-digit {
  width: 24px;
  font-weight: normal;
  color: #50cd8e;
}
.sportsbookNavigation .singleColumnPeriod, .sportsbookNavigation .halfTimeMode .periodInfo .period {
  line-height: 12px;
}
.sportsbookNavigation .scoreboardPlaceholder, .sportsbookNavigation .marketPlaceholder {
  width: 50%;
}
.sportsbookNavigation .cashOutPlaceholder, .sportsbookNavigation .mediaPlaceholder {
  display: none;
}
.sportsbookNavigation .selectionsHolder {
  right: 0;
  top: 16px;
  width: 50%;
}
.sportsbookNavigation .selectionsHolder .topMarketWrapper .selectionsOnly .market-selections {
  height: 60px;
  overflow: visible;
}
.sportsbookNavigation .selectionsHolder .wrap {
  margin-right: 16px;
}
.sportsbookNavigation .placeholder .tennisCompetitor .scoreboardItemHolder {
  font-weight: normal;
  color: #50cd8e;
}
.sportsbookNavigation .placeholder .tennisCompetitor .playerDetails {
  width: calc(100% - 66px);
}
.sportsbookNavigation .placeholder .tennisCompetitor .gameScore {
  width: 16px;
  text-align: right;
}
.sportsbookNavigation .placeholder .tennisCompetitor.secondCompetitor {
  margin-top: 8px;
}
.sportsbookNavigation .twoCompetitorsScoreboard .competitors .team {
  height: 16px;
}
.sportsbookNavigation .twoCompetitorsScoreboard .competitors .team.secondCompetitor {
  margin-top: 8px;
}
.sportsbookNavigation.typeSubNav .navigation-dropdown-content>li {
  margin-bottom: 16px;
  overflow: visible;
}
@media (max-width:660px) {
  .sportsbookNavigation .scoreboardItemHolder {
    display: block;
  }
}
@media (max-width:460px) {
  .sportsbookNavigation .sport-content .scoreboardHolder {
    height: 144px;
  }
  .sportsbookNavigation .sport-content .placeholder .periodInfo {
    right: 16px;
  }
  .sportsbookNavigation .sport-content .sports-fixture-node .number-of-markets {
    right: 16px;
    line-height: 12px;
  }
  .sportsbookNavigation .scoreboardPlaceholder {
    width: 100%;
  }
  .sportsbookNavigation .scoreboardItemHolder {
    display: block;
  }
  .sportsbookNavigation .selectionsHolder {
    top: 80px;
    width: calc(100% - 16px);
  }
}
@-webkit-keyframes contestScoreChange {
  0%, 8% {
    color: #50cd8e;
  }
  9%, 46% {
    color: black;
  }
  56%, to {
    color: #50cd8e;
  }
}
@-moz-keyframes contestScoreChange {
  0%, 8% {
    color: #50cd8e;
  }
  9%, 46% {
    color: black;
  }
  56%, to {
    color: #50cd8e;
  }
}
@-ms-keyframes contestScoreChange {
  0%, 8% {
    color: #50cd8e;
  }
  9%, 46% {
    color: black;
  }
  56%, to {
    color: #50cd8e;
  }
}
@keyframes contestScoreChange {
  0%, 8% {
    color: #50cd8e;
  }
  9%, 46% {
    color: black;
  }
  56%, to {
    color: #50cd8e;
  }
}
.marketList {
  padding-top: 0;
}
.marketList .marketGroups {
  padding: 8px;
  border-top: none;
  border-bottom: none;
  background-color: #eee;
}
.marketList .marketGroupNames {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #2f3f55;
}
.marketList .market-group-name {
  position: relative;
  height: 48px;
  line-height: 48px;
  margin-right: 0;
  padding: 0 24px;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 14px;
  color: rgba(255,255,255,0.7);
  transition: background-color .5s;
}
.marketList .market-group-name:hover {
  color: white;
}
.marketList .market-group-name:active {
  background-color: #6c7788;
  transition: none;
}
.marketList .marketGroupNames .goog-tab-selected {
  border-bottom: 2px solid white;
  color: white;
}
.marketList .marketColumn {
  padding: 8px;
  box-sizing: border-box;
}
.marketList .market {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 16px;
  padding: 0;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2) , 0 2px 2px 0 rgba(0,0,0,0.14) , 0 1px 5px 0 rgba(0,0,0,0.12);
}
.marketList .market:last-child {
  margin-bottom: 0;
}
.marketList .market-name {
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  box-sizing: border-box;
  font-size: 15px;
  color: rgba(0,0,0,0.87);
  border-bottom: 1px solid #e0e0e0;
}
.marketList .market-cash-out {
  display: none;
}
.marketList .market-selections {
  padding-top: 12px;
  padding-bottom: 12px;
}
.marketList .market-selections.market-selections-more {
  margin-top: -24px;
}
.marketList .selectionsWrapper {
  border-spacing: 16px 4px;
}
.marketList .more-button {
  border-spacing: 0;
  border-top: 1px solid #e0e0e0;
}
.marketList .more-button .more-wrapper {
  height: 45px;
  border-radius: 0;
  transition: background-color .5s;
}
.marketList .more-button .more-wrapper:before, .marketList .more-button .more-wrapper:after {
  top: 18px;
  background-color: #9e9e9e;
}
.marketList .more-button .more-wrapper:hover {
  background-color: #f6f6f6;
  transition: none;
}
.marketList .no-markets {
  background-color: white;
}
.bg-generic-scoreboard-inner, .bg-generic-scoreboard-inner .competition-name {
  background-color: #2f3f55;
  color: white;
}
